body {
  background-color: #ccc;
}

h1 {
  text-align: center;
}

.btn-container {
  text-align: center;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.bot-container {
  text-align: center;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.grid-container {
  margin: 10px auto;
  display: grid;
  border: 3px solid black;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  aspect-ratio: 1;
  height: 600px;
  width: auto;
}

.square {
  border: 0.1px solid black;
}
